<!-- css file -->
<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/plugins/toastr/toastr.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/plugins/vaildator/jquery.validator.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/plugins/datatables/datatables.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/sb-admin.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/sb-bk-theme.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/bk.css" rel="stylesheet">